MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=wordpress
MYSQL_USER=wpuser
MYSQL_PASSWORD=wppassword

DOMAIN_NAME=toruinoue.42.fr
WP_ADMIN_USER=boss42
WP_ADMIN_PASSWORD=wpadminpass
WP_ADMIN_EMAIL=admin@example.com
WP_USER=wpeditor
WP_USER_EMAIL=editor@example.com
WP_USER_PASSWORD=wpeditorpass